<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="container">
      <h1>Simple Webpack!</h1>
      <p>EAST GRAND AVENUE AND NORTH STREETER DRIVE NORTH CLARK STREET AND WEST ADDISON STREET NORTH MILWAUKEE AVENUE AND WEST DIVISION STREET FAMOUS VIEWINGS IN PHILADELPHIA STARTING @ 10:00PM SOUTH STREET AND 5TH STREET FRANKFORD AND EAST GIRARD AVENUE NO MORE PARTIES IN LA PIEDMONT ROAD NE AND LINDBERGH DRIVE NE @ 12:00AM MCLENDON AVENUE NE AND MORELAND AVENUE NE @ 12:40AM
        NORTH HASKELL AVENUE AND GASTON AVENUE @ 12:30AM Thank God for the support of my wife and real friends. FAMOUS VIEWINGS IN PHILADELPHIA STARTING @ 10:00PM SOUTH STREET AND 5TH STREET FRANKFORD AND EAST GIRARD AVENUE ROSWELL ROAD NW AND E ANDREWS DRIVE NW @ 1:30AM
      </p>
    </div>
  </body>
</html>
